*{
	margin: 0;
	padding: 0;
}
#body{
	height: 800px;
	width: 100%;
	background: red;
	background: url(imgs/bc.jpg) no-repeat center;
	background-size:100% 100%;
}
@media screen and (max-width: 980px)
{
	#body{
		width: 100%;
	}
}
#title{
	color: white;
}
#div1{
	width: 200px;
	height: 200px;
}